* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 60px;
}

.row:after,
.hitbox:after {
    content: "";
    display: table;
    clear: both;
}

[class^="col-"] {
    float: left;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-quarter {
    width: 24%;
    margin: 0.5%;
    background-color: #aaaaaa;
}

.hitbox {
    position: relative;
}

.hitbox:before {
    display: block;
    content: "";
    padding-top: 100%;
}

.dropzone {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.answer {
    width: 25%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.answer.show {
    visibility: visible;
}

.answer.hide {
    visibility: hidden;
}

.dropzone:not(.container) .icon {
    width: 100%;
    height: 100%;
    margin: 0;
}


.icon {
    width: 24%;
    margin: 0.5%;
}

#dropzone-apple {
    background-image: url("img/apple-bg.png");

}

#dropzone-bananas {
    background-image: url("img/banana-bg.png");

}

#dropzone-carrot {
    background-image: url("img/carrot-bg.png");

}

#dropzone-cherries {
    background-image: url("img/cherries-bg.png");

}

#dropzone-grapes {
    background-image: url("img/grapes-bg.png");

}

#dropzone-lemon {
    background-image: url("img/lemon-bg.png");

}

#dropzone-pear {
    background-image: url("img/pear-bg.png");

}

#dropzone-strawberry {
    background-image: url("img/strawberry-bg.png");

}

#dropzone-tomato {
    background-image: url("img/tomato-bg.png");

}

#dropzone-watermelon {
    background-image: url("img/watermelon-bg (2).png");

}

.instructions {
    text-align: center;
}

@media(max-width: 799px) {
    .col-quarter {
        width: 49%;
    }

    .icon {
        width: 49%;
    }

    .col-half.hitbox {
        padding-top: 100%;
    }
}